<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.rgu5android.application.locker"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="21"
        android:targetSdkVersion="22" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.Material" >
        <activity
            android:name=".ActivityInstructionManual"
            android:label="@string/instruction_manual" >
        </activity>
        <activity
            android:name=".ActivityManageApplication"
            android:label="@string/manage_apps" >
        </activity>
        <activity
            android:name=".ActivitySetPassword"
            android:label="@string/set_password" >
        </activity>
        <activity
            android:name=".ActivityPasswordChecker"
            android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen"
            android:label="@string/reading_password" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ActivityAboutUs"
            android:label="@string/about_us" >
        </activity>
        <activity
            android:name=".ActivityLockedApplication"
            android:label="@string/locked_apps" >
        </activity>
    </application>

</manifest>